https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_tutorial.pdf

# What is SQL?
- sql is literally a progamming language (hence the name structured query LANGUAGE)
- the sql language is standardized for interacting with relational databases in similar ways across different environments and devices
- it allows different users to store, retrieve, update, and delete data in a storage-efficient way
- sql is useful in that it allows data to be organized in tables that can even be related to each other and provides a way for easily filtering, sorting, and aggregating this data
- the sql language also ensures data integrity by allowing for primary and foreign keys that act as unique identifiers

## Creating and Connecting to an SQL Database in python
- to interact with sql data, we can use database engines like SQLite, which allow us to actually write sql in different languages. these engines are in our case essentially compilers that take the python and run the appropriate sql code lines for us
- the engine sits between the programmer, sql database, and the user accessing the data

In [ ]:
# python comes with a built-in module (sqlite3), which allows us to use the SQLite database engine so that we can interact with our database structure and also use it
import sqlite3

In [ ]:
# sqlite3's connect method takes the name of an existing db as a string and then essentially our variable will point/be this database
# if the db doesn't already exist, it will create it
example_db = sqlite3.connect("example.db")
# once we run this, we should now see that our empty database exists

In [ ]:
# whenever we make changes to our db, we should commit the changes and close the connection to the database
# commit basically takes the temp stored sqlite3 data and saves it to the db itself
example_db.commit()
# whenever the data is done being used and changes are saved/commited, the db connection should be closed -- indicating our work with that database is done for now
example_db.close()

## CRUD in Straight SQL

In [ ]:
# make sure to re-connect the database since we will now actually be using it
example_db = sqlite3.connect("example.db")
# we can create cursor objects for our database
# these cursor objects will be the ones that actually interact with the db
# you cannot interact with the db without a cursor unless using raw sql
example_db_cursor1 = example_db.cursor()

### Creating tables that accept data and place them into columns and rows

In [ ]:

# creating a table named users
# our cursor's execute command expects an sql query in the format of a string and will take care of running the command for us
# this string should be formatted using
  # the execute method essentially just takes lines of commands
  # here, we are using the demand to create a table (if it doesn't exist) named users
  # we then instruct what each data point/row in this table should contain by placing that in the parenthesis for the table
    # the table essentially takes a tuple where each item specifies what each specific data point accepted should be
    # each of our data points will have an id, which the db knows to automatically assign each time new data is added (setting it as a primary key and autincrementing does this for us)
      # the id (which itself is a primary key) is essentially the name/unique way to identify that piece of data within the table
      # below the id we set the other variables, instructing what data type they are and other specifics the db should check for before adding
example_db_cursor1.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL
)
""")

In [ ]:
# now that we have actually creating the structure for our table, we can try adding a row/data point to it
# we yet again use the cursor for interacting with the data
# we can see how any sql specific commands are in all caps, while the names of the variables representing these data points are within tuples
# here we sort of see the dynamic mapping going on, we instruct that the table being used is users and specifically the name and email variables within that table
# we then set the values for these data points in the same order they were used for the insert command (acutal data for name and then actual data for email)

#add user1, that has a name and email as described by the values
# during creating/addition of the data, a primary key will be uniquely made and associated with these multiple data points rather than just one
example_db_cursor1.execute("INSERT INTO users (name, email) VALUES ('Bob', 'bob@gmail.com')")

In [ ]:
# add a second user
example_db_cursor1.execute("INSERT INTO users (name, email) VALUES ('john', 'john@gmail.com')")

In [ ]:
# trying to add a third user that has a repeat email will return an error since we instructed that this table takes unique emails only!
# if it does not pass the sql checks, it will not be added or used!
example_db_cursor1.execute("INSERT INTO users (name, email) VALUES ('tim', 'john@gmail.com')")

IntegrityError: UNIQUE constraint failed: users.email

In [ ]:
example_db_cursor1.execute("INSERT INTO users (name, email) VALUES ('tim', 'tim@gmail.com')")

In [ ]:
# save our additions and close/exit the connection to the db
# we do this through the db (broader context) and not the cursor
example_db.commit()
example_db.close()

### Reading Table data

In [ ]:
# reopen the database and create a cursor object that we will use for grabbing stuff from the db to read/check
example_db = sqlite3.connect("example.db")
example_db_cursor1 = example_db.cursor()

In [ ]:
# fetch all rows from a specific table
# the select * from expect the name of the table next; * signals all data/rows in that table
example_db_cursor1.execute("SELECT * FROM users") #essentially setting current context for the cursor
# keep in mind that the cursor only temporarily grabs things, we want to actuall have all the results set equal to a variable
all_rows = example_db_cursor1.fetchall()

In [ ]:
all_rows

[(1, 'Bob', 'bob@gmail.com'),
 (2, 'john', 'john@gmail.com'),
 (3, 'tim', 'tim@gmail.com')]

In [ ]:
type(all_rows) #our cursor will essentially hold the data in a list, which we can grab and set equal to a variable

list

In [ ]:
example_db.close()

In [ ]:
# notice how we can still access this list after the variable was closed, but we cannot access the cursor object or reset the variable

In [ ]:
all_rows

[(1, 'Bob', 'bob@gmail.com'),
 (2, 'john', 'john@gmail.com'),
 (3, 'tim', 'tim@gmail.com')]

In [ ]:
# the db must be open for us to initially set variables for the data rows, but does not have to be open once the db has been used and variables set

In [ ]:
all_rows = example_db_cursor1.fetchall()

ProgrammingError: Cannot operate on a closed database.

In [ ]:
# filtering for specific rows in a specific table
# if our list using fetch all would be super long, it would be inefficient to pythonically filter through it
# we should filter through it using sql first and then set that equal to our python variables
example_db = sqlite3.connect("example.db")
example_db_cursor1 = example_db.cursor()

# we can filter to get specific rows by instructing the cursor of the conditions for selecting
example_db_cursor1.execute("SELECT * FROM users WHERE name = 'tim'") #case sensitive
tim_rows = example_db_cursor1.fetchall()
tim_rows

[(3, 'tim', 'tim@gmail.com')]

In [ ]:
example_db.close()

In [ ]:
# we can view all the data for what we just did in pandas
# remember that since we have the data in variables now, we can just use the varialbes (which are lists)
import pandas as pd
df = pd.DataFrame(tim_rows)
df

   0    1              2
0  3  tim  tim@gmail.com

In [ ]:
df = pd.DataFrame(all_rows)
df

   0     1               2
0  1   Bob   bob@gmail.com
1  2  john  john@gmail.com
2  3   tim   tim@gmail.com

### Updating and Deleting Table Data

In [ ]:
example_db = sqlite3.connect("example.db")
example_db_cursor1 = example_db.cursor()

In [ ]:
# updating entire rows
# we can use various selectors to find the data we are wishing to work with. here we are grabbing data where name is tim and changing tim's email value
example_db_cursor1.execute("UPDATE users SET email = 'tim@yahoo.com' WHERE name = 'tim'")

In [ ]:
example_db.commit()
example_db_cursor1.execute("SELECT * FROM users WHERE name = 'tim'")
tim_rows = example_db_cursor1.fetchall()
tim_rows

[(3, 'tim', 'tim@yahoo.com')]

In [ ]:
# deleting entire rows
# we can either delete by the primary key (better and more specific) or by other selectors we saw earlier, such as 'WHERE name'
example_db_cursor1.execute("DELETE FROM users WHERE id = 3") #delete tim's row
# check to see if it worked
example_db_cursor1.execute("SELECT * FROM users")
all_rows = example_db_cursor1.fetchall()
all_rows

[(1, 'Bob', 'bob@gmail.com'), (2, 'john', 'john@gmail.com')]

In [ ]:
example_db_cursor1.execute("DELETE FROM users WHERE name = 'john'")
example_db_cursor1.execute("SELECT * FROM users")
all_rows = example_db_cursor1.fetchall()
all_rows

[(1, 'Bob', 'bob@gmail.com')]

In [ ]:
# both worked! the point of trying to use primary keys for these updates and deletes is for if there were several users named john
#commit and close the db
example_db.commit()
example_db.close()

### Using primary and foreign keys in sql

In [ ]:
# primary keys (reveiwed earlier) allow us to identify rows in a table
# foreign keys allow us to link tables to each other

In [ ]:
# before trying to connect two tables to each other, we should first create the table that each user will own/use
# we will actually create a new database that will contain two tables
new_db = sqlite3.connect("new_db.db")
new_db_cursor = new_db.cursor()
new_db_cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    user_id INTEGER PRIMARY KEY AUTOINCREMENT,
    email TEXT NOT NULL,
    password TEXT NOT NULL
)
""")

new_db_cursor.execute("""
CREATE TABLE IF NOT EXISTS posts (
    post_id INTEGER PRIMARY KEY AUTOINCREMENT,
    post_author_id INTEGER,
    title TEXT NOT NULL,
    content TEXT,
    FOREIGN KEY (post_author_id) REFERENCES users(user_id)
)
""")
# we have now created two tables in this new database
# the posts can be related to a user through the post_author_id data point, which is instructed by the foreign key instructions

In [ ]:
# add initial users
new_db_cursor.execute("INSERT INTO users (email, password) VALUES ('bob@gmail.com', '123')")
new_db_cursor.execute("INSERT INTO users (email, password) VALUES ('john@gmail.com', '123')")

In [ ]:
# create a post that is connected to bob
new_db_cursor.execute("INSERT INTO posts (post_author_id, title, content) VALUES (1, 'first post', 'this is my first post')")
#

In [ ]:
# commit and view the data
new_db.commit()
new_db_cursor.execute("SELECT * FROM posts")
all_rows = new_db_cursor.fetchall()
all_rows

[(1, 1, 'first post', 'this is my first post')]

In [ ]:
# also create a post for user 2
new_db_cursor.execute("INSERT INTO posts (post_author_id, title, content) VALUES (2, 'second post', 'this is my second post')")

In [ ]:
# commit and view the data
new_db.commit()
new_db_cursor.execute("SELECT * FROM posts")
all_rows = new_db_cursor.fetchall()
all_rows

[(1, 1, 'first post', 'this is my first post'),
 (2, 2, 'second post', 'this is my second post')]

In [ ]:
#grab and show only the posts done by user with primary key of 1
new_db_cursor.execute("SELECT * FROM posts where post_author_id = 1")
posts_by_user1 = new_db_cursor.fetchall()
posts_by_user1

[(1, 1, 'first post', 'this is my first post')]

In [ ]:
new_db.commit()
new_db.close()

# SQLAlchemy ORM: Doing SQL queries but as python classes

## What is SQLAlchemy?
- it aims to allows developers to retain both an object-oriented structure, while still having the performance of standard SQL databases
- to do this, it uses a data mapper pattern instead of active record pattern like most other ORMs
- it allows us to view our database from a more abstract perspective
- we focus on the logic and it does the busy work of turning these classes (with the logic) to standard tables and rows

### SQLAlchemy Core

In [1]:
# creating the database
from sqlalchemy import create_engine
#echo will allow us to see the log of interactions with the db
current_db_engine = create_engine("sqlite:///orm_stuff.db", echo=True)

#### this engine object gives us some important methods
- connect() returns a connection object
- execute() executes an SQL statement construct
- begin() allows for automatic transactions and conneections through a context. it commits changes if there are no errors and if there are errors it reverts/rollbacks to before that transaction
- dispose() disposes the connection pool used by engine
- driver() returns the driver name of the dialect in use by the engine
- table_names() returns a list of all table names availible in the db
- transaction() executes the function in a transaction boundary

#### Using the create table function
- column objects represents columns inside of table objects
- metadata contains the extra info for these tables/columns, specifically definitions of the index, view, trigger objeects etc
- the metadata object in sqlalchemy is a collection of table objects and their schema
- the metadata object takes bind and schema parameters, but if not filled sets to None

In [2]:
from sqlalchemy import MetaData
meta = MetaData()

#### But what actually is metadata?

In [3]:
# we can now create a students table and remember that since echo is on it will also share with us the corresponding sql query
# our table should take the metadata object as the second command
from sqlalchemy import Table, Column, Integer, String
students_table = Table(
    'students',
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String),
    Column('lastname', String)
)

In [5]:
meta.create_all(current_db_engine)

2025-02-10 04:23:00,663 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-02-10 04:23:00,670 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("students")

2025-02-10 04:23:00,673 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-02-10 04:23:00,677 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("students")

2025-02-10 04:23:00,679 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-02-10 04:23:00,683 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)

2025-02-10 04:23:00,686 INFO sqlalchemy.engine.Engine [no key 0.00249s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00249s] ()

2025-02-10 04:23:00,700 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [6]:
# to actually see the tables we create, we can either use SQLiteStudio or our IDE
# or create pandas dataframe that uses the database

#### Using the methods within our new table object
- we must do this all within the conext of the db being connected

In [11]:
with current_db_engine.begin() as connection:
  object_to_insert = students_table.insert().values(name='Bob', lastname='Smith')
  result = connection.execute(object_to_insert)
  connection.commit()

2025-02-10 04:35:21,086 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-02-10 04:35:21,093 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO students (name, lastname) VALUES (?, ?)

2025-02-10 04:35:21,098 INFO sqlalchemy.engine.Engine [generated in 0.00516s] ('Bob', 'Smith')

INFO:sqlalchemy.engine.Engine:[generated in 0.00516s] ('Bob', 'Smith')

2025-02-10 04:35:21,106 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [14]:
import pandas as pd

current_db_engine = create_engine("sqlite:///orm_stuff.db", echo=False)
# Read the students table into a Pandas DataFrame
with current_db_engine.connect() as conn:
    df = pd.read_sql("SELECT * FROM students", conn)

# Display the DataFrame
print(df)

   id name lastname
0   1  Bob    Smith

### Selecting rows in the db

In [15]:
current_db_engine = create_engine("sqlite:///orm_stuff.db", echo=True)
s = students_table.select()

In [16]:
with current_db_engine.connect() as conn:
  result = conn.execute(s)
  for row in result:
    print(row)

2025-02-10 04:45:33,773 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-02-10 04:45:33,778 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students

INFO:sqlalchemy.engine.Engine:SELECT students.id, students.name, students.lastname
FROM students

2025-02-10 04:45:33,786 INFO sqlalchemy.engine.Engine [generated in 0.01628s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.01628s] ()

(1, 'Bob', 'Smith')
2025-02-10 04:45:33,794 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [17]:
# do rest later

## SQLAlchemy ORM

In [18]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///new_db.db", echo=True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

<ipython-input-18-dfb1880b417e>:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [19]:
class Customers(Base):
  __tablename__ = 'customers'
  id = Column(Integer, primary_key=True)
  name = Column(String)
  address = Column(String)
  email = Column(String)

In [20]:
Base.metadata.create_all(engine)

2025-02-10 04:48:39,827 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-02-10 04:48:39,835 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("customers")

2025-02-10 04:48:39,840 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-02-10 04:48:39,846 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customers")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("customers")

2025-02-10 04:48:39,853 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-02-10 04:48:39,859 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	id INTEGER NOT NULL,
	name VARCHAR,
	address VARCHAR,
	email VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE customers (
	id INTEGER NOT NULL,
	name VARCHAR,
	address VARCHAR,
	email VARCHAR,
	PRIMARY KEY (id)
)

2025-02-10 04:48:39,868 INFO sqlalchemy.engine.Engine [no key 0.00937s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00937s] ()

2025-02-10 04:48:39,889 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [21]:
# sessions allow us to interact bwith the database
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [22]:
customer1 = Customers(name='Bob', address='123 Main St', email='bob@gmail.com')

In [23]:
session.add(customer1)
session.commit()

2025-02-10 04:50:53,533 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-02-10 04:50:53,542 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, address, email) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO customers (name, address, email) VALUES (?, ?, ?)

2025-02-10 04:50:53,545 INFO sqlalchemy.engine.Engine [generated in 0.00361s] ('Bob', '123 Main St', 'bob@gmail.com')

INFO:sqlalchemy.engine.Engine:[generated in 0.00361s] ('Bob', '123 Main St', 'bob@gmail.com')

2025-02-10 04:50:53,551 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [24]:
# if we want to add multiple rows/items, we use add_all instead of add
customer2 = Customers(name='John', address='456 Elm St', email='john@gmail.com')
customer3 = Customers(name='Jane', address='789 Oak St', email='jane@gmail.com')
session.add_all([customer2, customer3])
session.commit()

2025-02-10 04:51:40,964 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-02-10 04:51:40,980 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, address, email) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO customers (name, address, email) VALUES (?, ?, ?) RETURNING id

2025-02-10 04:51:40,991 INFO sqlalchemy.engine.Engine [generated in 0.00026s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('John', '456 Elm St', 'john@gmail.com')

INFO:sqlalchemy.engine.Engine:[generated in 0.00026s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('John', '456 Elm St', 'john@gmail.com')

2025-02-10 04:51:40,996 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, address, email) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO customers (name, address, email) VALUES (?, ?, ?) RETURNING id

2025-02-10 04:51:40,999 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('Jane', '789 Oak St', 'jane@gmail.com')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/2 (ordered; batch not supported)] ('Jane', '789 Oak St', 'jane@gmail.com')

2025-02-10 04:51:41,003 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

#### Using Query in SQLAlchemy ORM
- this query object has many methods that you can look at later

In [25]:
query_result = session.query(Customers).all()
for row in query_result:
  print(f'Name: {row.name}, Address: {row.address}, Email: {row.email}')

2025-02-10 05:00:53,028 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-02-10 05:00:53,036 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers

INFO:sqlalchemy.engine.Engine:SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers

2025-02-10 05:00:53,041 INFO sqlalchemy.engine.Engine [generated in 0.00499s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00499s] ()

Name: Bob, Address: 123 Main St, Email: bob@gmail.com
Name: John, Address: 456 Elm St, Email: john@gmail.com
Name: Jane, Address: 789 Oak St, Email: jane@gmail.com

In [28]:
query_result[0].name

'Bob'

In [29]:
query_result[0].address

'123 Main St'

In [30]:
query_result[0].email

'bob@gmail.com'

#### Updating Objects within our Tables

In [32]:
# use get to grab objects by their primary key/id
customer_2 = session.get(Customers, 2)

In [33]:
customer_2.name

'John'

In [34]:
customer_2.id

2

In [35]:
# making a change is as easy as setting the new value and commiting the session
customer_2.name = 'dave'
session.commit()

2025-02-10 05:11:23,194 INFO sqlalchemy.engine.Engine UPDATE customers SET name=? WHERE customers.id = ?

INFO:sqlalchemy.engine.Engine:UPDATE customers SET name=? WHERE customers.id = ?

2025-02-10 05:11:23,199 INFO sqlalchemy.engine.Engine [generated in 0.00517s] ('dave', 2)

INFO:sqlalchemy.engine.Engine:[generated in 0.00517s] ('dave', 2)

2025-02-10 05:11:23,206 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [36]:
customer_2 = session.get(Customers, 2)

2025-02-10 05:11:29,454 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-02-10 05:11:29,461 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id = ?

INFO:sqlalchemy.engine.Engine:SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id = ?

2025-02-10 05:11:29,466 INFO sqlalchemy.engine.Engine [generated in 0.00519s] (2,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00519s] (2,)

In [37]:
customer_2.name

'dave'

#### query filters

In [40]:
result = session.query(Customers).filter_by(name='dave').first() #returns the first result
result.name

2025-02-10 05:14:46,096 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.name = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.name = ?
 LIMIT ? OFFSET ?

2025-02-10 05:14:46,110 INFO sqlalchemy.engine.Engine [cached since 34.77s ago] ('dave', 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 34.77s ago] ('dave', 1, 0)

'dave'

In [41]:
result.email

'john@gmail.com'

In [42]:
result.address

'456 Elm St'

In [43]:
result.id

2

In [44]:
result.name

'dave'

##### Filter Operators